body.dark {
  #loader div {
    background-color: white;
  }

  section {
    h1 {
      border-color: white;
    }
    .carousel {
      .previous,
      .next {
        color: white;
      }
    }
  }

  .blogs::after {
    background: url(../images/blogs_circle_dark.svg) no-repeat center
      center/cover;

    @media only screen and (max-width: 41rem) {
      background: url(../images/blogs_circle_dark_mobile.svg) no-repeat center
        center/cover;
    }
  }
}
