    .header-container {
        position: relative;
        top: 12vh;
        height: 80vh;
    }
    
    .coming-up {
        position: absolute;
        top: 65%;
        left: 47%;
        color: $color-light-blue;
        font-size: 1rem;
        @media only screen and (max-width: 1380px) {
            top: 63%;
        }
    }
    
    .event-name {
        position: absolute;
        font-weight: 500;
        top: 70%;
        left: 35%;
        color: $color-black;
        font-size: 1.5rem;
        padding-left: 20px;
    }
    
    .cta-button {
        display: block;
        background-color: $color-light-blue;
        position: absolute;
        padding: 1rem;
        top: 80%;
        left: 45%;
        border-radius: 2px;
    }
    
    .btn--header {
        color: $color-black;
    }
    
    .ieeelogo-black {
        position: absolute;
        width: 30%;
        top: 22%;
        left: 35%;
        @media only screen and (max-width: 700px) {
            left: 30%;
            width: 40%;
        }
        @media only screen and (max-width: 500px) {
            left: 20%;
            width: 60%;
        }
    }
    
    .ieeelogo-white {
        display: none;
    }
    
    .left-circle-light {
        position: absolute;
        top: 20%;
        left: -14%;
        @media only screen and (max-width: 1380px) {
            left: -18%;
        }
        @media only screen and (max-width: 1100px) {
            left: -22%;
        }
        @media only screen and (max-width: 900px) {
            left: -30%;
        }
        @media only screen and (max-width: 700px) {
            left: -20%;
            width: 50%;
            top: 30%;
        }
        @media only screen and (max-width: 500px) {
            left: -15%;
            top: 50%;
        }
    }
    
    .left-circle-dark {
        display: none;
    }
    
    .top-square-light {
        display: block;
        position: absolute;
        left: 3%;
        top: 1%;
    }
    
    .top-square-dark {
        display: none;
    }
    
    .top-triangle-light {
        display: block;
        position: absolute;
        left: 13%;
        top: -12%;
        z-index: -1;
    }
    
    .top-triangle-dark {
        display: none;
    }
    
    .top-semicircle-light {
        display: block;
        position: absolute;
        left: 27%;
        top: -13%;
        z-index: -1;
    }
    
    .top-semicircle-dark {
        display: none;
    }
    
    .right-semicircle-light {
        display: block;
        position: absolute;
        top: -13%;
        left: 78%;
        z-index: -1;
    }
    
    .right-semicircle-dark {
        display: none;
    }
    
    .right-rings-light {
        display: block;
        position: relative;
        top: -13%;
        z-index: -1;
        float: right;
    }
    
    .right-rings-dark {
        display: none;
    }
    
    .center-triangle-light {
        display: block;
        position: absolute;
        left: 63%;
        top: 50%;
    }
    
    .center-triangle-dark {
        display: none;
    }
    
    .center-square-light {
        display: block;
        position: absolute;
        top: 65%;
        left: 70%;
    }
    
    .center-square-dark {
        display: none;
    }
    
    .center-bigsquare-light {
        display: block;
        position: absolute;
        top: 84%;
        left: 60%;
    }
    
    .center-bigsquare-dark {
        display: none;
    }
    
    .center-bottomtriangle-dark {
        display: none;
    }
    
    .center-bottomtriangle-light {
        display: block;
        position: absolute;
        top: 80%;
        left: 25%;
    }