//FONT VARIABLES
$font: 'Manrope',
sans-serif;
//FONT SIZES
$heading-font-size:33px;
$heading-text-size:16px;
//COLOUR VARIABLES
$color-white:#ffffff;
$color-black:#141414;
$color-dark-blue:#0066A1;
$color-light-blue:#4285F4;
$color-grey-ultradark:#292929;
$color-grey-dark:#3D3D3D;
$color-grey-medium:#7A7A7A;
$color-grey-light:#C2C2C2;
$color-grey-ultralight:#EBEBEB;