// FONTS

$font: "Manrope", sans-serif;

// FONT SIZES

$heading-font-size: 33px;
$heading-text-size: 1rem;

// COLOUR VARIABLES

$color-white: #ffffff;
$color-black: #141414;
$color-dark-blue: #0066a1;
$color-light-blue: #2f93eb;
$color-grey-ultradark: #292929;
$color-grey-dark: #3d3d3d;
$color-grey-medium: #7a7a7a;
$color-grey-light: #c2c2c2;
$color-grey-ultralight: #ebebeb;

// LOADER

$loader-animation-duration: 0.65s;
