@import "variables";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: $font;
    
    &.dark {
        background-color: #222222;
        color: white;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}