body.dark {
  background-color: #222222;
  color: white;
}

body.dark #loader div {
  background-color: white;
}

body.dark .navbar {
  background-color: #0066a1;
  -webkit-box-shadow: 5.65625px 5.65625px 11.3125px #000000;
          box-shadow: 5.65625px 5.65625px 11.3125px #000000;
}

body.dark .navbar .menu.open::after {
  background-color: #0e0e0e;
}

body.dark .navbar .menu_options a {
  color: white;
}

#loader {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  right: 1rem;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

#loader div {
  width: 1rem;
  height: 1rem;
  background-color: #222222;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

#loader div:nth-child(1) {
  position: relative;
  left: 2rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: appear 0.65s infinite;
          animation: appear 0.65s infinite;
}

#loader div:nth-child(2), #loader div:nth-child(3) {
  -webkit-animation: move 0.65s infinite;
          animation: move 0.65s infinite;
}

#loader div:nth-child(4) {
  -webkit-animation: fade 0.65s infinite;
          animation: fade 0.65s infinite;
}

@-webkit-keyframes appear {
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes appear {
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fade {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes fade {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes move {
  to {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
}

@keyframes move {
  to {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
}

.navbar {
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 2px 4px 0px #0066a1;
          box-shadow: 0px 2px 4px 0px #0066a1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 3%;
  position: relative;
}

.navbar .hamburger-menu {
  display: none;
  cursor: pointer;
}

.navbar .menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navbar .menu .cross {
  display: none;
  cursor: pointer;
}

.navbar .menu .menu_options {
  color: #0066a1;
  font-weight: 600;
  padding: 0 1rem;
}

.navbar .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  list-style: none;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 945px) {
  .navbar .socials {
    width: 100%;
  }
}

.navbar .socials #change-theme {
  padding-left: 1.5rem;
  padding-right: 2%;
  cursor: pointer;
}

@media only screen and (max-width: 945px) {
  .navbar .socials #change-theme {
    margin-left: auto;
  }
}

@media only screen and (max-width: 945px) {
  .navbar .hamburger-menu {
    display: block;
    position: absolute;
    top: 75px;
    right: 0;
    margin: 2rem 1.5rem;
  }
  .navbar .menu.close {
    display: none;
  }
  .navbar .menu.open {
    position: fixed;
    top: 0;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100vh;
    width: 65%;
    padding-top: 25vh;
    padding-left: 12.5%;
    background-color: #2d8de0;
    opacity: 0.85;
  }
  .navbar .menu.open::after {
    content: "";
    width: 35vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -35vw;
    background-color: #7a7a7a;
    opacity: 0.4;
  }
  .navbar .menu.open .cross {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 3rem 2rem;
  }
  .navbar .menu.open .menu_options {
    padding: 0.5rem 0;
  }
  .navbar .menu.open .menu_options a {
    font-size: 24px;
    color: white;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Manrope", sans-serif;
}

body.dark {
  background-color: #222222;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

#main-content {
  display: none;
}
/*# sourceMappingURL=style.css.map */