@import "variables";
@import "darkMode";
@import "loader";
@import "navbar";
@import "header";
@import "about";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: $font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

#main-content {
  display: none;
}
