body.dark {
  background-color: #222222;
  color: white;
}

body.dark section h1 {
  border-color: white;
}

body.dark section .carousel .previous,
body.dark section .carousel .next {
  color: white;
}

body.dark .techloop .carousel,
body.dark .events .carousel {
  background: linear-gradient(141.25deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0) 100%);
}

body.dark .techloop .carousel::after,
body.dark .events .carousel::after {
  background: linear-gradient(160.01deg, rgba(0, 102, 161, 0.14) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(0, 102, 161, 0.07) 100%);
}

body.dark #loader div {
  background-color: white;
}

#loader {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  right: 1rem;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

#loader div {
  width: 1rem;
  height: 1rem;
  background-color: #222222;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

#loader div:nth-child(1) {
  position: relative;
  left: 2rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: appear 0.65s infinite;
          animation: appear 0.65s infinite;
}

#loader div:nth-child(2), #loader div:nth-child(3) {
  -webkit-animation: move 0.65s infinite;
          animation: move 0.65s infinite;
}

#loader div:nth-child(4) {
  -webkit-animation: fade 0.65s infinite;
          animation: fade 0.65s infinite;
}

@-webkit-keyframes appear {
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes appear {
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fade {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes fade {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes move {
  to {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
}

@keyframes move {
  to {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
}

.techloop,
.events {
  margin: Min(15%, 7.5rem);
  position: relative;
}

.techloop h1,
.events h1 {
  font-size: 33px;
  font-weight: normal;
  color: #4285f4;
  border-bottom: 2px solid #141414;
  padding-bottom: 0.15rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.techloop p,
.events p {
  line-height: 24px;
  margin: 2rem 0;
}

.techloop .carousel,
.events .carousel {
  padding: 2rem;
  height: 23.85rem;
  position: relative;
  border-radius: 10px;
  background: linear-gradient(141.25deg, rgba(218, 238, 255, 0.12) 0%, rgba(201, 230, 255, 0) 49.48%, rgba(201, 230, 255, 0.09) 99.48%);
  -webkit-backdrop-filter: blur(7.5px);
  backdrop-filter: blur(7.5px);
}

.techloop .carousel::after,
.events .carousel::after {
  content: "";
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  position: absolute;
  top: -1px;
  left: -1px;
  background: linear-gradient(160.01deg, rgba(0, 102, 161, 0.2) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(0, 102, 161, 0.2) 100%);
  border-radius: 10px;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 1px 100%, 1px 1px, calc(100% - 1px) 1px, calc(100% - 1px) calc(100% - 1px), 1px calc(100% - 1px), 1px 100%, 100% 100%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 1px 100%, 1px 1px, calc(100% - 1px) 1px, calc(100% - 1px) calc(100% - 1px), 1px calc(100% - 1px), 1px 100%, 100% 100%, 100% 0%);
}

.techloop .carousel .previous,
.techloop .carousel .next,
.events .carousel .previous,
.events .carousel .next {
  position: absolute;
  top: calc(50% - 3.5rem);
  font-size: 3.5rem;
  color: #141414;
  cursor: pointer;
}

.techloop .carousel .previous,
.events .carousel .previous {
  left: -3rem;
}

.techloop .carousel .next,
.events .carousel .next {
  right: -3rem;
}

.techloop .carousel .container,
.events .carousel .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.techloop .carousel .container::-webkit-scrollbar,
.events .carousel .container::-webkit-scrollbar {
  display: none;
}

.techloop .carousel .container .slide,
.events .carousel .container .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  min-width: 100%;
  scroll-snap-align: start;
}

.techloop .carousel .container .slide .content,
.events .carousel .container .slide .content {
  width: 45%;
}

.techloop .carousel .container .slide .content h2,
.events .carousel .container .slide .content h2 {
  font-size: 33px;
  font-weight: normal;
  color: #54afff;
}

.techloop .carousel .container .slide img,
.events .carousel .container .slide img {
  width: 45%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 1205px) {
  body .techloop .carousel,
  body .events .carousel {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1rem;
  }
  body .techloop .carousel .container .slide,
  body .events .carousel .container .slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .techloop .carousel .container .slide .content,
  body .events .carousel .container .slide .content {
    width: 100%;
  }
  body .techloop .carousel .container .slide img,
  body .events .carousel .container .slide img {
    width: 100%;
    height: 15rem;
  }
}

@media only screen and (max-width: 850px) {
  body .techloop h1,
  .events h1 {
    font-size: 24px;
  }
  body .techloop p,
  .events p {
    font-size: 14px;
    margin: 1rem 0;
  }
  body .techloop .carousel .previous,
  body .techloop .carousel .next,
  .events .carousel .previous,
  .events .carousel .next {
    font-size: 2.5rem;
  }
  body .techloop .carousel .previous,
  .events .carousel .previous {
    left: -2rem;
  }
  body .techloop .carousel .next,
  .events .carousel .next {
    right: -2rem;
  }
  body .techloop .carousel .container .slide .content h2,
  .events .carousel .container .slide .content h2 {
    font-size: 20px;
    font-weight: 600;
  }
}

.techloop-top-circle,
.techloop-bottom-circle,
.techloop-triangle {
  display: block;
}

.techloop-top-circle-mobile,
.techloop-bottom-circle-mobile,
.techloop-triangle-mobile {
  display: none;
}

@media only screen and (max-width: 850px) {
  .techloop-top-circle,
  .techloop-bottom-circle,
  .techloop-triangle {
    display: none;
  }
  .techloop-top-circle-mobile,
  .techloop-bottom-circle-mobile,
  .techloop-triangle-mobile {
    display: none;
  }
}

.techloop-top-circle {
  top: -3.5rem;
  left: calc(-1 * Min(10vw, 7.5rem));
}

.techloop-bottom-circle {
  bottom: -3.5rem;
  right: calc(-1 * Min(10vw, 7.5rem));
}

.techloop-triangle {
  left: 7.5rem;
  bottom: -15rem;
}

.techloop-top-circle-mobile {
  top: -3.5rem;
  left: calc(-1 * Min(10vw, 7.5rem));
}

.techloop-bottom-circle-mobile {
  bottom: -3.5rem;
  right: calc(-1 * Min(10vw, 7.5rem));
}

.techloop-triangle-mobile {
  left: 7.5rem;
  bottom: -15rem;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Manrope", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

#main-content {
  display: none;
}

.shape {
  position: absolute;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */